.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 320px;
    height: 45px;
    background: linear-gradient(91.55deg, #0ed9ce 24.9%, #42a7e3 81.66%);
    box-shadow: 0 4px 11px rgba(0, 0, 0, .25);
    text-shadow: 1px 1px 5px rgba(0, 0, 3, .30);
    border-radius: 5px;
    border: 1px solid #42a7e3;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #fff;
    margin: 5px auto;
    text-decoration: none;
    transition: all .3s;

    &:hover, &.active {
        text-decoration: none;
        filter: brightness(0.95);
        color: #fff;
        transition: all .3s;
    }

    &.outline {
        background: #ffffff;
        border: 1px solid #dbdbdb;
        color: #373737;
        transition: all .3s;

        &:hover {
            color: #42a7e3;
            transition: all .3s;
        }
    }

    &.transparent {
        background: transparent;
        border: 1px solid transparent;
        color: #373737;
        transition: all .3s;
        box-shadow: none;
        width: 45px;
        border-radius: 50%;

        &:hover {
            animation: pulse-animation 2s infinite;
            border: 1px solid transparent;
            color: #42a7e3;
            transition: all .3s;
            filter: none;
        }
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .3;
    }

    & i {
        color: inherit;
        font-size: 32px;
    }
}


@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(66, 167, 227, 0.15);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(66, 167, 227, 0);
  }
}
